html, body {
    background-image: url("https://github.com/hyagohamon/dota2/blob/5f80656f254cf929e3dccd599dd6bc81e02cfdf2/src/img/bgofi.jpg?raw=true");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment: fixed;

}

.bg {
    background: #0f0f10;
    filter: opacity(0.7%);
}

.search-hero {

    text-align: center;

}


